/**
 * Menu Component Style for uxcore
 * @author vincent.bian
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
 @menu-prefix-cls: kuma-menu;
 @white: #fff;

.@{menu-prefix-cls} {
    outline: none;
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;
    z-index: 1001;
    border: none;
    color: #adadad;
    background: transparent;

    .@{menu-prefix-cls}-item-group-list {
        margin: 0;
        padding: 0;
    }

    .@{menu-prefix-cls}-item-group-title {
        color: @text-primary-color;
        line-height: 1.5;
        padding: 8px 10px;
        border-bottom: 1px solid #dedede;
    }

    .@{menu-prefix-cls}-item {
        cursor: pointer;
        a {
            &:hover, &:active {
                text-decoration: none;
            }
        }
    }

    &-inline > .@{menu-prefix-cls}-item-active,
    &-submenu-inline.@{menu-prefix-cls}-submenu-active,
    &-submenu-inline.@{menu-prefix-cls}-submenu-active > .@{menu-prefix-cls}-submenu-title:hover {
        background-image: linear-gradient(-180deg, darken(desaturate(@brand-primary, 6%), 4%) 0%, @brand-primary 100%);
        box-shadow: inset 0px 2px 3px 0px darken(desaturate(@brand-primary, 11%), 8%);
        color: @white;
    }

    &-inline > .@{menu-prefix-cls}-item-active:hover,
    &-item-active,
    &-submenu-active,
    &-submenu-inline.@{menu-prefix-cls}-submenu-active > .@{menu-prefix-cls}-submenu-title:hover {
        background-color: rgba(255, 255, 255, 0.06);
    }

    &-item-selected {
        background-color: rgba(255, 255, 255, 0.06);
        color: @white;
    }

    & > li&-submenu {
        padding: 0;
        cursor: pointer;
    }

  &-submenu-horizontal > .@{menu-prefix-cls} {
    top: 100%;
    left: 0;
    position: absolute;
    min-width: 100%;
    margin-top: 7px;
  }

  &-submenu-vertical > .@{menu-prefix-cls} {
    top: 0;
    left: 100%;
    position: absolute;
    min-width: 160px;
    margin-left: 4px;
  }

  &-item, .@{menu-prefix-cls}-submenu-title {
    margin: 0;
    position: relative;
    display: block;
    white-space: nowrap;

    // Disabled state sets text to gray and nukes hover/tab effects
    &.@{menu-prefix-cls}-item-disabled, &.@{menu-prefix-cls}-submenu-disabled {
 	    color: @text-primary-color !important;
    }
  }
  & > .@{menu-prefix-cls}-item-divider {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    padding: 0;
    line-height: 0;
    background-color: #e5e5e5;
  }

  &-submenu {
    position: relative;

    > .@{menu-prefix-cls} {
   	  display: none;
   	  background-color: transparent;
    }

    &-open {
   	 > .@{menu-prefix-cls} {
   	   display: block;
   	 }
   	 &.@{menu-prefix-cls}-submenu-inline > .@{menu-prefix-cls}-submenu-title:after {
   	   transform: rotate(180deg);
   	 }
    }
  }

  .@{menu-prefix-cls}-submenu-title, .@{menu-prefix-cls}-item {
    .kuma-icon {
 	 width: 14px;
 	 margin-right: 8px;
 	 top: -1px;
 	 color: @white;
    }
  }

  &-horizontal {
    background-color: transparent;
    border: none;
    padding-left: 24px;
    z-index: 0;

    & > .@{menu-prefix-cls}-item,
    & > .@{menu-prefix-cls}-submenu > .@{menu-prefix-cls}-submenu-title {
        padding: 0 16px;
        border-radius: 2px;
        line-height: 32px;
        font-size: 14px;
        color: @white;
        position: relative;
 	 > a {
 	   display: block;
 	   color: @white;
 	   &:hover {
 		 color: @white;
 	   }
 	   &:before, &:after {
 		 position: absolute;
 		 background-color: rgba(255, 255, 255, 0.001);
 		 width: 20px;
 		 height: 50px;
 		 content: '';
 	   }
 	   &:before {
 		 left: 0;
 	   }
 	 }
    }

    & > .@{menu-prefix-cls}-submenu, & > .@{menu-prefix-cls}-item {
 	 float: left;
 	 margin-right: 4px;
   border-bottom: none;

 	 &-active,
 	 &-selected {
        border-bottom: none;
        background-image: linear-gradient(-180deg, darken(desaturate(@brand-primary, 6%), 4%) 0%, @brand-primary 100%);
        box-shadow: inset 0px 2px 3px 0px darken(desaturate(@brand-primary, 11%), 8%);
        font-size: 14px;
        color: @white;
 	   .kuma-icon {
 		 color: @white;
 	   }
 	 }
    }

    &:after {
 	 content: "\20";
 	 display: block;
 	 height: 0;
 	 clear: both;
    }
  }

  &-vertical, &-inline {
    padding: 12px 0;
    & > .@{menu-prefix-cls}-item, & > .@{menu-prefix-cls}-submenu > .@{menu-prefix-cls}-submenu-title {
 	  padding: 0 40px;
 	  font-size: 12px;
 	  line-height: 40px;
 	  height: 40px;
    }
    & > .@{menu-prefix-cls}-submenu > .@{menu-prefix-cls}-submenu-title {
        font-size: 14px;
    }
  }

  &-vertical.@{menu-prefix-cls}-sub {
    padding: 0;
    transform-origin: 0 0;
    & > .@{menu-prefix-cls}-item, & > .@{menu-prefix-cls}-submenu {
 	 transform-origin: 0 0;
    }
  }

  &-sub.@{menu-prefix-cls}-inline {
    padding: 0;
    border: none;
    overflow: hidden;
    & > .@{menu-prefix-cls}-item, & > .@{menu-prefix-cls}-submenu > .@{menu-prefix-cls}-submenu-title {
 	 line-height: 34px;
 	 height: 34px;
 	 list-style-type: disc;
 	 list-style-position: inside;
    }
  }
 }

 .@{menu-prefix-cls}-submenu-title, .@{menu-prefix-cls}-item {
  .kuma-icon {
    width: 14px;
    margin-right: 8px;
    top: -1px;
  }
 }
